<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
    <appender name="A1" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%c{1}:%L]: %m%n"/>
        </layout>
    </appender>
    <logger name="org.eclipse.jetty" additivity="false">
        <level value="INFO" />
        <appender-ref ref="A1"/>
    </logger>
    <logger name="com.mvas.webproxy" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="A1"/>
    </logger>
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="A1"/>
    </root>
</log4j:configuration>